<div id='header-wrapper'>
	<header id='header' class='container'>
		<div id='logo'>
			<h1><%=link_to 'BEP', root_path%></h1>
		</div>
	</header>
	<!-- Banner -->
	<div id="banner-wrapper">
		<div id="banner" class="box container">
			<div class="row">
				<div class="7u">
					<h2>Bagage Entre Particuliers</h2>
					<p>la solution écologique et pas cher des transport des bagages</p>
				</div>
				<div class="5u">
					<ul>
						<li><%=link_to 'Expediteurs', offers_path, class: 'button big icon fa-cubes'%></li>
						<li><%=link_to 'Transporteurs', orders_path, class: 'button alt big icon fa-cab'%></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
</div>