<h1>offres</h1>
<%= form_for(:offer, url: {controller: 'offers', action: 'search'}, remote: true) do |f|%>
	<%= f.autocomplete_field :departure, autocomplete_city_name_offers_path %>
	<%= f.autocomplete_field :destination, autocomplete_city_name_offers_path %>
	<%= f.submit 'search ' %>
<% end %>


<div id="search_result">
</div>